{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}

{% block body %}
<main>
    <div class="admin-container">
        <h1 class="text-center">Tableau de bord de l'administration</h1>

        <div class="admin-section">
            <div class="admin-card">
                <h5 class="card-title">Gestion des cartes</h5>
                <p class="card-text">Créer, modifier ou supprimer des cartes.</p>
                <div class="admin-buttons">
                    <a href="{{ path('app_card_anime_index') }}" class="btn btn-primary">Gérer les cartes d'animé</a>
                    <a href="{{ path('app_card_film_index') }}" class="btn btn-primary">Gérer les cartes de film</a>
                </div>
            </div>
        </div>

        <div class="admin-section">
            <div class="admin-card">
                <h5 class="card-title">Attribuer des cartes aux joueurs</h5>
                <p class="card-text">Ajouter des cartes existantes à l'inventaire des joueurs.</p>
                <div class="admin-buttons">
                    <a href="#" class="btn btn-primary">Attribuer des cartes d'animés</a>
                    <a href="#" class="btn btn-primary">Attribuer des cartes de films</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}